<!DOCTYPE html>
<html>

<head>
	<title>Personal Health Trajectory</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script>
		/*function encryptionFunction(a, b) {
			var myString = a + " " + b;
			if (a.length === 0 || b.length === 0) {
				alert("Please enter missing fields!!")
				document.getElementById("encryptionId").innerHTML = "Encrypted String";
			}
			else {
				document.getElementById("encryptionId").innerHTML = myString;
			}
		}
		function decryptionFunction(a, b) {
			var myString = a + " " + b;
			if (a.length === 0 || b.length == 0) {
				alert("Plase enter missing fields!!")
				document.getElementById("encryptionId").innerHTML = "Encrypted String";
			}
			else {
				document.getElementById("decryptionId").innerHTML = myString;
			}
		}*/
	</script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body ng-app="BlockExplorer">
	<div class="container" ng-controller="MainController">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h1 id="page-title">Personal Health Trajectory</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 encryptionDiv">
				<h5>Encryption</h5>
				<form ng-submit="myEncrypt(iph)">
					<label for="ipfshash">IPFS Hash:</label><br>
					<input type="text" id="ipfshash" name="ipfshash" value="ipfshashValue" placeholder="Enter IPFS Hash"
						ng-model="iph" required><br><br>
					<label for="publickey">Existing Public Keys:</label><br>
					<select name="publickey" id="publickey" required>
						<option></option>
						<option value="publickey.pem">publickey.pem</option>
					</select>
					<br><br>
					<input type="submit" value="Encrypt"><br><br>
					<p id="encryptionId" ng-if="encryptedString" style="overflow-y : scroll">{{encryptedString}}</p>
				</form><br>
			</div>
			<div class="col-md-6">
				<form ng-submit="search(searchValue)">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="searchValue">
					</div>
					<div class="form-group">
						<select class="form-control" ng-model="searchType">
							<option value="block">Block Hash</option>
							<option value="transaction">Transaction ID</option>
							<option value="address">Address</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary margin-auto btn-search">
						Search
					</button>
					<p ng-if="!block && !transaction && !addressData && initialSearchMade" class="no-data-text">
						No data found for search.
					</p>
				</form>
			</div>
			<div class="col-md-3 decryptionDiv">
				<h5>Decryption</h5>
				<form ng-submit="myDecrypt(st)">
					<label for="scrambledtext">Scrambled Text:</label><br>
					<input type="text" id="scrambledtext" name="scrambledtext" value="scrambledtextValue"
						ng-model="st" placeholder="Enter Scrambled Text" required>
					<br><br>
					<label for="privatekey">Existing Private Keys:</label><br>
					<select name="privatekey" id="privatekey" required>
						<option></option>
						<option value="privatekey.pem">privatekey.pem</option>
					</select><br><br>
					<input type="submit" value="Decrypt"><br><br>
					<p id="decryptionId" ng-if="decryptedString" style="overflow-y: scroll;">{{decryptedString}}</p>
				</form><br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 offset-md-1">

				<!-- 'display block' table -->
				<h3 class="table-title" ng-if="block">Block</h3>
				<table class="table table-striped" ng-if="block">
					<tbody>
						<tr>
							<td class="bold">Block Hash</td>
							<td>{{ block.hash }}</td>
						</tr>
						<tr>
							<td class="bold">Index</td>
							<td>{{ block.index }}</td>
						</tr>
						<tr>
							<td class="bold">Time Stamp</td>
							<td>{{ block.timestamp }}</td>
						</tr>
						<tr>
							<td class="bold">Nonce</td>
							<td>{{ block.nonce }}</td>
						</tr>
						<tr>
							<td class="bold">Previous Hash</td>
							<td>{{ block.previousBlockHash }}</td>
						</tr>
						<tr>
							<td class="bold">Number Transactions</td>
							<td>{{ block.transactions.length }}</td>
						</tr>
					</tbody>
				</table>
				<!-- end 'display block' table -->

				<!-- 'display transaction' table -->
				<h3 class="table-title" ng-if="transaction">Transaction</h3>
				<table class="table table-striped" ng-if="transaction">
					<tbody>
						<tr>
							<td class="bold">Sender</td>
							<td>{{ transaction.sender }}</td>
						</tr>
						<tr>
							<td class="bold">Recipient</td>
							<td>{{ transaction.recipient }}</td>
						</tr>
						<tr>
							<td class="bold">Amount</td>
							<td>{{ transaction.amount }}</td>
						</tr>
					</tbody>
				</table>
				<!-- end 'display transaction' table -->

				<!-- 'display address' table -->
				<h3 class="table-title" ng-if="addressData">Address</h3>
				<p id="balance-text" ng-if="addressData">(Balance: {{ addressData.addressBalance }})</p>
				<table class="table table-striped" ng-if="addressData">
					<thead>
						<tr>
							<th scope="col">Sender</th>
							<th scope="col">Recipient</th>
							<th scope="col">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="transaction in addressData.addressTransactions">
							<td>{{ transaction.sender }}</td>
							<td>{{ transaction.recipient }}</td>
							<td>{{ transaction.amount }}</td>
						</tr>
					</tbody>
				</table>
				<!-- end 'display address' table -->

			</div>
		</div>
	</div>

	<script>
		window.app = angular.module('BlockExplorer', []);

		app.controller('MainController', function ($scope, $http) {
			$scope.block = null;
			$scope.transaction = null;
			$scope.addressData = null;
			$scope.encryptedString = null;
			$scope.decryptedString = null;
			$scope.initialSearchMade = false;

			$scope.fetchBlock = function (blockHash) {
				$http.get(`/block/${blockHash}`)
					.then(response => {
						$scope.block = response.data.block;
						$scope.transaction = null;
						$scope.addressData = null;
					});
			};

			$scope.fetchEncrypt = function (iph) {
				$http.get(`/encrypt/${iph}`)
					.then(response => {
						$scope.encryptedString = response.data.encryptedData;
						//console.log(iph);
						//console.log($scope.encryptedString);
					});
			};

			$scope.fetchDecrypt = function (st) {
				$http.get(`/decrypt/${st}`)
					.then(response => {
						$scope.decryptedString = response.data.decryptedData;
					});
			}

			$scope.fetchTransaction = function (transactionId) {
				$http.get(`/transaction/${transactionId}`)
					.then(response => {
						$scope.transaction = response.data.transaction;
						$scope.block = null;
						$scope.addressData = null;
					});
			};

			$scope.fetchAddressData = function (address) {
				$http.get(`/address/${address}`)
					.then(response => {
						$scope.addressData = response.data.addressData;
						if (!$scope.addressData.addressTransactions.length) $scope
							.addressData = null;
						$scope.block = null;
						$scope.transaction = null;
					});
			};

			$scope.search = function (searchValue) {
				$scope.initialSearchMade = true;
				if ($scope.searchType === 'block') {
					$scope.fetchBlock(searchValue);
				}
				else if ($scope.searchType === 'transaction') {
					$scope.fetchTransaction(searchValue);
				}
				else if ($scope.searchType === 'address') {
					$scope.fetchAddressData(searchValue);
				}
			};

			$scope.myEncrypt = function (iph) {
				//console.log(iph);
				$scope.fetchEncrypt(iph);
			};

			$scope.myDecrypt = function (st) {
				$scope.fetchDecrypt(st);
			}

		});
	</script>

	<style type="text/css">
		html,
		body {
			min-height: 100vh;
			background-color: #e8e8e8;
		}

		.container {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		#page-title {
			text-align: center;
			margin-bottom: 40px;
		}

		.table-title {
			margin-bottom: 20px;
			text-align: center;
		}

		.table {
			background-color: #ffffff;
			box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.75);
		}

		#balance-text {
			text-align: center;
			margin-top: -20px;
			margin-bottom: 30px;
		}

		.margin-auto {
			margin: auto;
			display: block;
		}

		.btn-search {
			margin-bottom: 50px;
		}

		.bold {
			font-weight: 700;
		}

		.no-data-text {
			color: red;
			text-align: center;
		}

		.encryptionDiv,
		.decryptionDiv {
			border: black solid 2px;
			padding: 10px;
			background-color: #F0F8FF;
		}

		h5 {
			margin-left: 70px;
		}

		#encryptionId,
		#decryptionId {
			background-color: white;
			border: black solid 2px;
			padding: 5px;
		}

		#id1,
		#id2,
		#id3,
		#id4 {
			visibility: hidden;
			color: red;
		}
	</style>
</body>

</html>